.main-body {
    height: 40vh;
    width: 100vw;
    background-image: none;
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
}

.body-title{
    
    width: 80%;
    height: auto;
    font-size: 4vw;
}

.body-title h1 {
    line-height: 175%;
    margin-bottom: 0;
    color: #406ab3;
}

.search-wrapper {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-wrapper input {
    width: 90%;
    height: 50%;
    border-radius: 0;
    padding: 0 0 0 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-width: 0px;
}

.search-wrapper button {
    width: 90%;
    height: 50%;
    background-color: #252525;
    color: white;
    border-width: 0;
    font-size: 5vw;
    margin-bottom: 1vh;
}

@media (min-width: 768px){
    .main-body {
        height: 60vh;
        width: 100vw;
        
        background-image: url("../../pictures/350z.jpg");
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
    }


    .body-title{
        color: white;
        width: 80%;
        height: auto;
        font-size: 1.5vw;
        
    }

    .body-title h1 {
        float: left;
        width: 35%;
        line-height: 150%;
        margin-top: 10vh;
        color: white;
    }

    .search-wrapper {
        width: 50%;
        height: 12.5%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        
    }

    .search-wrapper input {
        width: 75%;
        height: 100%;
        border-radius: 0;
        padding: 0 0 0 0;
        margin-top: 0;
        border-width: 0px;
    }

    .search-wrapper button {
        width: 25%;
        height: 100%;
        background-color: #0e1726;
        color: #e0e0e0;
        border-width: 0;
        font-size: 1.25vw;
    }
}