nav {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0e1726;
    color: #e0e0e0;
}

.profile-image {
    border-radius: 50%;
    height: 8vh;
    width: 8vh;
    background-image: url("../../pictures/350z\ icon.jpg");
    background-size: contain;
    background-position: center;    
}

.left {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1vw;
}

a:visited {
    color: #e0e0e0;
}

.menu{
    display: flex;
}

.left *{
    margin-left: 1vw;
}

.right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1vw;   
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1vw;   
}

.menu a{
    text-decoration: none;
}

.menu button {
    border: 0px;
    background-color: white;
    width: 6vw;
    height: 4vh;
    font-size: 1vw;
}

.menu button a {
    color: #0e1726;
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .left{
        font-size: 3vw;
    }

    .left *{
        margin-left: 2vw;
    }
    
    .right {
        width: 15vw;
        margin-right: 2vw;
    }
    
    #dropdown-menu {
        z-index: 2;
        width: 100vw;
        height: 90vh;
        background-color: #1a212c;
        position: absolute;
        top: 10vh;
        right: 0;
        left: 0;
        margin: 0;
        padding: 0; 
        display: flex;
        flex-direction: column;
    }
    
    #dropdown-menu a{
        display: flex;
        height: 22.5vh;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 3vh;
    }
    
    #dropdown-menu button {
        background-color: #0e1726;
        color: #e0e0e0;
        border-width: 0;
        width: 100%;
        height: 22.5vh;
    }
    
    #dropdown-menu button a:visited {
        color: white;
    }
}

