* {
    font-family: Verdana, Tahoma, sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

.app {
    width: 100vw;
}

.chatbot {
    z-index: 4;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
}